

<!-- slider -->
<app-slider></app-slider>



<!-- giới thiệu về công ty -->

<div class="introduce sec" data-aos="fade-up">
    <div class="container-fluid">
        <div class="introduce_main">
            <h2>NHỮNG YẾU TỐ TẠO NÊN SỰ KHÁC BIỆT CỦA EDUCATION VISA</h2>
        </div>
        <div class="row introduce_wrap">
            <div class="col-lg-3 col-md-6 col-xs-12 item_introduce">
                <div class="frame_introduce">
                    <div class="image_introduce">
                        <div class="box_introduce">
                          <i class="fa-solid fa-people-group"></i>
                        </div>
                    </div>
                    <div class="content_introduce">
                        <h4 class="h4_content_introduce">Đội ngũ năng động và nhiệt huyết</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 item_introduce">
              <div class="frame_introduce">
                  <div class="image_introduce">
                      <div class="box_introduce">
                        <i class="fa-solid fa-person-chalkboard"></i>
                      </div>
                  </div>
                  <div class="content_introduce">
                      <h4 class="h4_content_introduce">Kinh nghiệm nhiều năm trong việc giải quyết những hồ sơ định cư, du học khó</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 item_introduce">
            <div class="frame_introduce">
                <div class="image_introduce">
                    <div class="box_introduce">
                      <i class="fa-solid fa-people-robbery"></i>
                    </div>
                </div>
                <div class="content_introduce">
                    <h4 class="h4_content_introduce">Luôn đồng hành và theo sát khách hàng trong mọi quá trình</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 item_introduce">
          <div class="frame_introduce">
              <div class="image_introduce">
                  <div class="box_introduce">
                    <i class="fa-solid fa-user-check"></i>
                  </div>
              </div>
              <div class="content_introduce">
                  <h4 class="h4_content_introduce">Lợi ích của khách hàng và uy tín công ty luôn được ưu tiên</h4>
              </div>
          </div>
      </div>
        </div>
    </div>
</div>


<div class="settled_tong">

<div class="settled sec" data-aos="fade-up">
    <div class="container">
      <div class="introduce_main">
        <h2>ĐỊNH CƯ ÚC</h2>
    </div>

    <div class="content_settled">
      Education Visa miễn phí buổi tư vấn đầu tiên về di trú và định cư. Chúng tôi sẵn sàng giải đáp tất cả thắc mắc, hỗ trợ xin bảo lãnh tiểu bang, đăng ký cũng như trình bày ý nguyện di trú ( EOI) và Visa thường trú. Ngoài ra, chúng tôi cũng cung cấp thông tin và các khóa học liên quan về Thẩm định Tay nghề (Skill Assessment) - Một trong những điều kiện căn bản để lấy được thị thực tại Úc.
    </div>
    </div>
</div>


<div class="image_settled"  >
    <div class="img_background_settled ">
        <!-- Slider main container -->
        <div class="item_carousel">
            <div class="img_hover_settled active_hover_mobile" data-aos="fade-up">
              <div class="title_hover_settled">
                <h2> TẠM TRÚ SAU TỐT NGHIỆP</h2>
              </div>
              <!-- hover vào và hiện -->
                  <div class="content_hover_h2_settled">
                   <h2> TẠM TRÚ SAU TỐT NGHIỆP</h2>
                    <div class="content_hover_info_settled">
                      Visa 485 là visa tạm trú dành cho sinh viên quốc tế sau khi hoàn thiện khóa học với thời gian tối thiểu là 2 năm tại Úc.
                      <br>
                      <br>
Người giữ Visa 485 được đi làm việc full-time, không bị giới hạn 40 tiếng/2 tuần như visa học sinh. Từ visa 485, các bạn sinh viên sau tốt nghiệp có thêm thời gian chuẩn bị cho hồ sơ xin PR của mình và tăng điểm Point test (thang điểm di trú).

                    </div>
                  </div>
            </div>
            <div class="img_hover_settled active_hover_mobile" data-aos="fade-up">
              <div class="title_hover_settled">
                <h2> ĐỊNH CƯ DIỆN TAY NGHỀ</h2>
              </div>
              <div class="content_hover_h2_settled">
               <h2> ĐỊNH CƯ DIỆN TAY NGHỀ</h2>
                <div class="content_hover_info_settled">
                  Visa định cư diện tay nghề bao gồm các lựa chọn sau: Visa 189; 190 và Visa 491/191. Đây là những loại visa thường trú dành cho những lao động có kỹ năng tốt nghiệp tại Úc và muốn sang Úc làm việc, sinh sống và trở thành công dân Úc.
                  <br>
                  Visa được tính theo thang điểm di trú và được chỉ định bởi một cơ quan chính phủ của Tiếu bang/Vùng lãnh thổ Úc bảo lãnh.
                </div>
              </div>
            </div>
            <div class="img_hover_settled active_hover_mobile" data-aos="fade-up">
              <div class="title_hover_settled">
                <h2>  ĐỊNH CƯ DIỆN DOANH NGHIỆP BẢO LÃNH</h2>
              </div>
              <div class="content_hover_h2_settled">
               <h2> ĐỊNH CƯ DIỆN DOANH NGHIỆP BẢO LÃNH</h2>
                <div class="content_hover_info_settled">
                  Visa định cư diện doanh nghiệp bảo lãnh là cơ hội vàng cho những lao động muốn và đủ điều kiện sang Úc để phát triển chuyên môn và tay nghề (Visa 407, Visa 482), từ đó có cơ hội trở thành thường trú dân tại Úc (Visa 186)
                  <br>

                . Bên cạnh đó Visa 191/491 dành cho lao động có tay nghề tạm trú và làm việc tại vùng nông thôn tại Úc cũng nhận được rất nhiều sự  quan tâm. Hãy để Vision First tìm ra loại Visa thích hợp nhất với trường hợp của bạn nhé.
                </div>
              </div>
            </div>
          <div class="img_hover_settled active_hover_mobile" data-aos="fade-up">
            <div class="title_hover_settled">
              <h2>ĐỊNH CƯ DIỆN KINH DOANH & ĐẦU TƯ</h2>
            </div>
              <div class="content_hover_h2_settled">
               <h2>ĐỊNH CƯ DIỆN KINH DOANH & ĐẦU TƯ</h2>
                <div class="content_hover_info_settled">
                  Với nền giáo dục tốt, môi trường sống nhiều lần được xếp vào hàng đầu thế giới và những chính sách xã hội ưu đãi hơn cả Mỹ và các nước khối Châu Âu, Úc là điểm đến của nhiều nhà đầu tư người Việt có tầm nhìn ra. Nếu bạn là người có lịch sử kinh doanh thành công tại Việt Nam, sở hữu số tài sản nhất định và có năng lực kinh doanh và đầu tư, thì Úc là một điểm đến thích hợp cho quý nhà đầu tư để ổn định cuộc sống lâu dài cho gia đình. Visa kinh doanh và đầu tư là một trong những thế mạnh của Vision First Visa 188A, visa 188B, visa 188C và Visa 132A,B,C chỉ cần để lại số điện thoại bên dưới, cố vấn di trú của Vision First sẽ gọi cho bạn ngay trong ngày.
                </div>
              </div>
        </div>
        <div class="img_hover_settled active_hover_mobile" data-aos="fade-up">
          <div class="title_hover_settled">
            <h2> TẠM TRÚ SAU TỐT NGHIỆP</h2>
          </div>
          <div class="content_hover_h2_settled">
           <h2> TẠM TRÚ SAU TỐT NGHIỆP</h2>
            <div class="content_hover_info_settled">
              Visa 485 là visa tạm trú dành cho sinh viên quốc tế sau khi hoàn thiện khóa học với thời gian tối thiểu là 2 năm tại Úc.
              <br>
              <br>
Người giữ Visa 485 được đi làm việc full-time, không bị giới hạn 40 tiếng/2 tuần như visa học sinh. Từ visa 485, các bạn sinh viên sau tốt nghiệp có thêm thời gian chuẩn bị cho hồ sơ xin PR của mình và tăng điểm Point test (thang điểm di trú).
            </div>
          </div>
    </div>
        </div>
    </div>
</div>

<div class="khung">
  <a routerLink="/vn/tin-tuc" class="main_btn vitribtn" >Tìm hiểu thêm</a>
</div>


</div>


<div class="study_abroad sec">
  <div class="container" data-aos="fade-up">
    <div class="introduce_main">
      <h2>DU HỌC ÚC CÙNG EDUCATION VISA</h2>
  </div>

  <div class="content_settled sp">
    Với châm ngôn luôn đồng hành cùng khách hàng, Education Visa cung cấp trọn vẹn các dịch vụ tư vấn du học Úc từ định hướng du học, ngành học, trường học, student visa, các loại học bổng và hướng đi sau tốt nghiệp cho khách hàng. Để đảm bảo khách hàng đến với Education Visa đều có một tầm nhìn rõ và mạch lạc về hành trình du học của mình.
  </div>
</div>
<div class="container-fluid">
  <div class="row study_abroad_wrap"  >
      <div class="col-lg-4 study_abroad_left" data-aos="fade-right">
          <div class="row study_abroad_left_content">
              <div class="col-lg-12 item_study_abroad">
                  <div class="study_abroad_icon"><i class="fa-solid fa-briefcase"></i></div>
                  <div class="study_abroad_info">
                      <h4 class="study_abroad_title">
                        Tư vấn định hướng du học và ngành học
                      </h4>
                      <div class="study_abroad_content">
                        Tư vấn định hướng du học và ngành học
                      </div>
                  </div>
              </div>
                <div class="col-lg-12 item_study_abroad">
                  <div class="study_abroad_icon"><i class="fa-solid fa-comment-medical"></i></div>
                  <div class="study_abroad_info">
                      <h4 class="study_abroad_title">
                        Tư vấn trường học và tiểu bang
                      </h4>
                      <div class="study_abroad_content">
                        Tư vấn định hướng du học và ngành học
                      </div>
                  </div>
              </div>
                <div class="col-lg-12 item_study_abroad">
                  <div class="study_abroad_icon"><i class="fa-solid fa-award"></i></div>
                  <div class="study_abroad_info">
                      <h4 class="study_abroad_title">
                        Tư vấn và thực hiện Student Visa
                      </h4>
                      <div class="study_abroad_content">
                        Tư vấn định hướng du học và ngành học
                      </div>
                  </div>
              </div>
                <div class="col-lg-12 item_study_abroad">
                  <div class="study_abroad_icon"><i class="fa-solid fa-graduation-cap"></i></div>
                  <div class="study_abroad_info">
                      <h4 class="study_abroad_title">
                        Tư vấn hướng đi sau tốt nghiệp
                      </h4>
                      <div class="study_abroad_content">
                        Tư vấn định hướng du học và ngành học
                      </div>
                  </div>
              </div>
              <div class="khung2">
                <a routerLink="/vn/tin-tuc" class="main_btn vitribtn" >Tìm hiểu thêm</a>
              </div>
          </div>
      </div>
      <div class="col-lg-8 study_abroad_right" data-aos="fade-left">
          <img src="https://visionfirstconsulting.com/wp-content/uploads/2020/08/video-sec.jpg" alt="">
      </div>
  </div>


</div>
</div>


<div class="khung_procedure">

<div class="procedure secnew ">
  <div class="container ">
    <div class="introduce_main hieuchinh">
      <h2>QUY TRÌNH CỦA EDUCATIONVISA</h2>
  </div>

  <div class="content_settled sp chinh">
    Với kinh nghiệm làm việc toàn cầu, EducationVisa đã chuẩn hóa các bước làm việc sau để đảm bảo chất lượng hỗ trợ cao nhất với học sinh:
  </div>
</div>

<div class="button_procedure">
  <div class="item_nut">
      <div class="bao_item_nut">
          <div class="img_nut"><i class="fa-solid fa-calendar-days"></i></div>
          <div class="content_nut">Bước 1</div>
      </div>
  </div>
  <div class="item_nut">
    <div class="bao_item_nut">
        <div class="img_nut"><i class="fa-solid fa-people-group"></i></div>
        <div class="content_nut">Bước 2</div>
    </div>
</div>
<div class="item_nut">
  <div class="bao_item_nut">
      <div class="img_nut"><i class="fa-solid fa-person-chalkboard"></i></div>
      <div class="content_nut">Bước 3</div>
  </div>
</div>
<div class="item_nut">
  <div class="bao_item_nut">
      <div class="img_nut"><i class="fa-regular fa-map"></i></div>
      <div class="content_nut">Bước 4</div>
  </div>
</div>
</div>
</div>



<div class="img_procedure">
    <div class="container khung_procedure_img" style="height: 100%;">
          <div class=" container item_procedure">
              <div class="slider_procedure">
                <div class="image_slider_procedure">
                    <img src="https://a.storyblok.com/f/64062/x/d3ff55afce/process-01-crimson-education.svg" alt="" srcset="">
                </div>

                <div class="content_slider_procedure">
                    <div class="title_content_procedure">
                        <h3>01. Phác thảo sơ khởi lộ trình cá nhân hoá</h3>
                    </div>
                    <div class="des_content_procedure">
                      <p>Trong buổi gặp mặt đầu tiên với cố vấn, các bạn học sinh sẽ được đánh giá năng lực ứng tuyển dựa trên góc độ chuyên môn và giải đáp các thắc mắc về quá trình tuyển sinh. Với các thông tin trao đổi trong buổi tư vấn này, bao gồm cấp lớp, năng lực học thuật, đam mê…, cố vấn học thuật sẽ đề xuất một lộ trình học tập và rèn luyện cá nhân hoá, cùng những lời khuyên và đánh giá bổ ích cho những bước làm việc tiếp theo tại EducationVisa.</p>
                    </div>
                </div>
            </div>

            <div class="slider_procedure">
              <div class="image_slider_procedure">
                  <img src="https://a.storyblok.com/f/64062/x/dcc07e20ff/process-02-crimson-education.svg" alt="" srcset="">
              </div>

              <div class="content_slider_procedure">
                  <div class="title_content_procedure">
                      <h3>02. Gặp gỡ Điều phối viên giáo dục EducationVisa</h3>
                  </div>
                  <div class="des_content_procedure">
                    <p>Điều phối viên giáo dục (EducationVisa) chính là người đồng hành cùng học sinh trong suốt quá trình làm việc với EducationVisa. Cụ thể các EducationVisa sẽ kết nối các cố vấn, gia sư với các bạn học sinh và gia đình, và hỗ trợ thực hiện các phần công việc trong kế hoạch của đội ngũ của Crimson hướng cho các bạn học sinh. Các điều phối viên cũng đảm bảo thông tin trao đổi được thông suốt đến quý phụ huynh và gia đình.</p>
                  </div>
              </div>
          </div>

          <div class="slider_procedure">
            <div class="image_slider_procedure">
                <img src="https://a.storyblok.com/f/64062/x/70c26c5576/process-03-crimson-education.svg" alt="" srcset="">
            </div>

            <div class="content_slider_procedure">
                <div class="title_content_procedure">
                    <h3>03. Lên kế hoạch làm việc với Cố vấn chiến lược</h3>
                </div>
                <div class="des_content_procedure">
                  <p>Cố vấn chiến lược sẽ là người định hướng cho các bạn học sinh trong suốt quá trình chuẩn bị hồ sơ, là “đầu tàu” cho mọi hoạt động. Các chiến lược gia sẽ cùng học sinh xây dựng chiến lược ứng tuyển, gợi mở phương hướng để phát triển bản thân và nâng cao năng lực ứng tuyển phù hợp với định hướng của học sinh. Các cố vấn cũng sẽ là người đảm bảo các “mảnh ghép” của bộ hồ sơ ứng tuyển được hoàn hảo và ghép nối chỉnh chu nhất trước khi chính thức nộp đơn.</p>
                </div>
            </div>
        </div>

        <div class="slider_procedure">
          <div class="image_slider_procedure">
              <img src="https://a.storyblok.com/f/64062/x/4a7ef98f33/process-04-crimson-education.svg" alt="" srcset="">
          </div>

          <div class="content_slider_procedure">
              <div class="title_content_procedure">
                  <h3>04. Làm việc với đội ngũ EducationVisa</h3>
              </div>
              <div class="des_content_procedure">
                <p>Khi bắt tay làm việc, thuật toán đặc biệt của Education sẽ giúp học sinh tìm ra đội ngũ làm việc phù hợp nhất với mình dựa trên mục tiêu học tập, đam mê và cá tính riêng, từ đội ngũ hàng ngàn cố vấn và chuyên gia trên toàn thế giới. Đội ngũ làm việc cùng học sinh bao gồm: Cố vấn hoạt động ngoại khoá, Cố vấn hỗ trợ bài luận, cố vấn đào tạo phỏng vấn với nhiều kinh nghiệm và thành tích trong lĩnh vực mà họ đang hỗ trợ học sinh.</p>
              </div>
          </div>
      </div>
          </div>
    </div>
</div>

</div>

<div class="news sec">
  <div class="container">
    <div class="introduce_main">
      <h2>TIN TỨC VỀ DU HỌC ÚC</h2>
  </div>
</div>

<!-- <div class="container-fluid">

  <div class="row news_frame" >
      <div class="col-lg-3 news_item">
          <div class="card news_item_card" >
            <img class="card-img-top news_image" src="https://consultor.ancorathemes.com/wp-content/uploads/2020/04/post5-890x664.jpg" alt="Card image cap">

            <div class="date">
                <div class="date_frame">
                  <div class="day">21</div>
                <div class="month">APR</div>
                </div>
            </div>

            <div class="card-title news_title">
                <div class="news_des"><span class="des_1">
                  <a href="">BUSINESS</a>
                </span>  <span class="des_2">
                  0 Comments
                </span></div>
                <h3><a href="">Accounting for a corporate bank card</a></h3>
            </div>
          </div>
      </div>
      <div class="col-lg-3 news_item">
        <div class="card news_item_card" >
          <img class="card-img-top news_image" src="https://consultor.ancorathemes.com/wp-content/uploads/2020/04/post5-890x664.jpg" alt="Card image cap">

          <div class="date">
            <div class="date_frame">
              <div class="day">21</div>
            <div class="month">APR</div>
            </div>
        </div>

        <div class="card-title news_title">
          <div class="news_des"><span class="des_1">
            <a href="">BUSINESS</a>
          </span>  <span class="des_2">
            0 Comments
          </span></div>
          <h3><a href="">Accounting for a corporate bank card</a></h3>
      </div>
        </div>
    </div>
    <div class="col-lg-3 news_item">
      <div class="card news_item_card">
        <img class="card-img-top news_image" src="https://consultor.ancorathemes.com/wp-content/uploads/2020/04/post5-890x664.jpg" alt="Card image cap">

        <div class="date">
          <div class="date_frame">
            <div class="day">21</div>
          <div class="month">APR</div>
          </div>
      </div>

      <div class="card-title news_title">
        <div class="news_des"><span class="des_1">
          <a href="">BUSINESS</a>
        </span>  <span class="des_2">
          0 Comments
        </span></div>
        <h3><a href="">Accounting for a corporate bank card</a></h3>
    </div>
      </div>
  </div>

  <div class="col-lg-3 news_item">
    <div class="card news_item_card">
      <img class="card-img-top news_image" src="https://consultor.ancorathemes.com/wp-content/uploads/2020/04/post5-890x664.jpg" alt="Card image cap">

      <div class="date">
        <div class="date_frame">
          <div class="day">21</div>
        <div class="month">APR</div>
        </div>
    </div>

    <div class="card-title news_title">
      <div class="news_des"><span class="des_1">
        <a href="">BUSINESS</a>
      </span>  <span class="des_2">
        0 Comments
      </span></div>
      <h3><a href="">Accounting for a corporate bank card</a></h3>
  </div>
    </div>
</div>
  </div>

</div> -->

<div class="wrapper" id="archive-wrapper">
  <div class="container-fluid" id="content" tabindex="-1">
      <main class="site-main" id="main">
        <div class="row">
  <div class="col-lg-4 col-sm-6" style="margin-bottom: 20px;" *ngFor="let item of listnew">
    <article routerLink="/{{item.link}}" class="post-2713 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc category-bi-quyet-dinh-cu-uc" id="post-2713">
        <div class="news-item">
            <div class="news-item-inner">
                <div class="thumbnail">
                    <a  routerLink="/{{item.link}}"><img width="700" height="525" src="{{item.image}}" sizes="(max-width: 700px) 100vw, 700px" /></a>
                </div>
            <div class="news-item-info">


        <div class="card-title news_title" routerLink="/{{item.link}}">
            <div class="news_des"><span class="des_1">
              <a >Educationvisa</a>
            </span>  <span class="des_2">
              {{item.date | date:'dd/MM/yyyy'}}
            </span></div>
            <h3 routerLink="/{{item.link}}" class="title_post_chinh" style="cursor: pointer;" ><a style="font-size: 1.5rem !important;" >{{item.title}}</a></h3>
        </div>
            </div>
        </div>
    </div>
</article>
  </div>
            </div>
          </main>
    </div>

    </div>
    <div class="khung" style="padding-top: 0; padding-bottom: 0;">
      <a routerLink="/vn/tin-tuc" class="main_btn vitribtn" >Tìm hiểu thêm</a>
    </div>

</div>


<app-appointment></app-appointment>

