
* {
  line-height: 1.6;
  font-family: 'display';
}


.swiper {
  width: 600px;
  height: 300px;
}


@font-face {
  font-family: 'display';
  src: url('./assets/font/SF-Pro-Display-Regular.otf');
}

